@import url(https://fonts.googleapis.com/css?family=Work+Sans); 
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);     

body {
    font-family: "Work Sans";
    margin: 0px;
    padding: 0px;
    background-color: floralwhite;
}

#name a {
    display: inline;
    font-size: 35px;
    text-decoration: none;
    line-height: 200px;
    margin-top: -50px;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-bottom: inherit;
    color: white;
    background-color: black;
    clear: both;
}

#navigation {
    clear: both;
    font-size: 40px;
    float: right;
    padding: 15px;
    color: white;
}

