@import url(https://fonts.googleapis.com/css?family=Work+Sans); 
@import url(https://fonts.googleapis.com/css?family=Lora);  
@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Work Sans";
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: #1b1b1b;
}

#name {
    margin-left: 8%;
    font-size: 40px;
    text-decoration: none;
    color: white;
    text-align: center;
}

#nav-button {
    font-size: 40px;
    color: white;
    clear: both;
    user-select: none;
    cursor: pointer;
}

#nav-options {
    margin: 0px;
    height: 200px;
    width: 200px;
    color: #1b1b1b;
    list-style: none;
    text-decoration: none;
    display: none;
    opacity: 0.4;
}

#nav-options li {
    padding: 15px 10px;
    text-align: center;
    background-color: #1b1b1b;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    user-select: none;
    cursor: pointer;
    margin: 10px;
    padding-right: 0px;
}

nav div:hover + #nav-options, #nav-options:hover, #nav-options li:hover{
    display: block;
    opacity: 0.7;
    z-index: 100;
    padding-right: 0px;
}

#project-section {
    background-color: #1b1b1b;
}

#mainContent { 
    background-color: rgb(66, 168, 192);
}

.text-box {
    display: block;
    line-height: 125%;
    font-size: 28px;
    font-family: "Lora";
    text-align: justify;
}

#main-pic {
    margin-left: 15%;
}

#mainContent .text-box {
    position: relative;
    display: inline-block;
    width: 80%;
    margin-top: 5%;
    right: 13%;
    text-align: center;
}

#example, #synonyms {
    text-indent: 35px;
    opacity: 0.7;
}

#intro, #term {
    font-family: "Work Sans";
    font-size: 30px;
}

.project-image img {
    display: block;
    margin: 0 auto;
}
.project-text {
    display: block;
    text-align: justify;
}

.project-text p {
    padding-top: 10%;
    padding-right: 15%;
    text-align: center;
}
#project1 {
    height: 380px;
    width: 550px;
}

#project3 {
    height: 260px;
    width: 350px;
}

#BrainApp p {
    color: white !important;
    text-align: center;
    font-family: "Work Sans";
}

#HealthProgram p {
    color: white !important;
    font-family: "Work Sans";   
}

#AutoQuiz p {
    padding-top: 7%;
    color: white !important;
    width: 95%;
    text-align: center;
    font-family: "Work Sans";
}

h3 {
    padding: 1px;
    margin: 1px;
}

h1, h2 {
    color: white;
    margin: 0;
    margin-bottom: 15px;
    left: 30px;
    padding-top: 35px;
}

h1 {
    text-align: center;
    margin: auto;
    font-size: 40px;
}

h2 {
    text-decoration: bold;
    text-align: center;
}

#experience-section {
    background-image: url(assets/CaseWestern.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    max-width: 100%;
    overflow-x: hidden;
}

.experience-descript {
    background-color: rgba(27, 27, 27, 0.9);
    width: 100%;
    padding: 3px;
    margin: 5% auto;
    width: 70%;
}

.position {
    color: white;
    text-align: center;
}

.organization {
    color: rgb(66, 168, 192);
    text-align: center;
}

.year {
    text-align: center;
    color: white;
    text-decoration: bold;
}

.experience-descript p {
    color: white;
    font-size: 19px;
    font-family: "Lato";
    padding: 3px;
    padding-top: 0px;
}

#contact-section {
    margin: 0;
    background-color: rgb(66, 168, 192);
}

.icon {
    height: 300px;
    width: 300px;
    margin: 10px;
}

#icon-row {
	text-align: center;
}

.container, .container-fluid {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}









