h1 {
    color: red;
}

.navigation {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    display: inline;
    padding: inherit;
}

#home {
    color: blueviolet;
}